In [1]:
import pandas as pd

In [16]:

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data,index = [2,3,5])

print(df)

   calories  duration
2       420        50
3       380        40
5       390        45

In [18]:
df = pd.read_csv('car.data')
print(df.head())

  buying  maint door persons lug_boot safety  class
0  vhigh  vhigh    2       2    small    low  unacc
1  vhigh  vhigh    2       2    small    med  unacc
2  vhigh  vhigh    2       2    small   high  unacc
3  vhigh  vhigh    2       2      med    low  unacc
4  vhigh  vhigh    2       2      med    med  unacc

In [20]:
#print(df.to_string()) print the entire dataset

In [21]:
print(df)

     buying  maint   door persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [22]:
print(df.info()) #print more info abt the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   door      1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB
None

In [25]:
#drop empty cells
print(df.dropna())# this is a new dataframe
print(df.dropna(inplace = True)) #modifies the original dataset

None

In [35]:
df = pd.read_csv('emotion.csv')
print(df.median())
print(df.mean())
print(df.mode())
df['v500'].fillna(11,inplace=True)

x1      0.512375
y1      0.439875
z1     -1.086048
v1      0.999802
x2      0.538431
          ...
v500    0.000000
x501    0.578746
y501    0.361156
z501    0.016201
v501    0.000000
Length: 2004, dtype: float64
x1      0.513688
y1      0.460867
z1     -1.031596
v1      0.999629
x2      0.541255
          ...
v500    0.000000
x501    0.585381
y501    0.376804
z501    0.005493
v501    0.000000
Length: 2004, dtype: float64
      class        x1        y1        z1        v1        x2        y2  \
0     happy  0.266400  0.311063 -2.178709  0.999875  0.569399  0.266325
1       NaN  0.270591  0.316352 -2.175067       NaN       NaN  0.266932
2       NaN  0.273383  0.316463 -2.146087       NaN       NaN  0.267364
3       NaN  0.274260  0.318699 -2.091522       NaN       NaN  0.267550
4       NaN  0.278308  0.318748 -2.035458       NaN       NaN  0.267657
...     ...       ...       ...       ...       ...       ...       ...
1179    NaN  0.742385  0.674375 -0.487041       NaN       NaN  0.593465
1180    NaN  0.742459  0.674460 -0.483821       NaN       NaN  0.594032
1181    NaN  0.743005  0.675719 -0.478836       NaN       NaN  0.596954
1182    NaN  0.743678  0.676104 -0.478175       NaN       NaN  0.597412
1183    NaN  0.744423  0.677693 -0.474756       NaN       NaN  0.597481

            z2        v2        x3  ...      z499  v499      x500      y500  \
0    -2.120838  0.999892  0.320246  ... -0.055576   0.0  0.347608  0.324786
1    -2.115101       NaN  0.324949  ... -0.054740   NaN  0.347973       NaN
2    -2.032697       NaN  0.328636  ... -0.053298   NaN  0.352372       NaN
3    -1.998024       NaN  0.329483  ... -0.053003   NaN  0.353020       NaN
4    -1.967276       NaN  0.331462  ... -0.052091   NaN  0.356524       NaN
...        ...       ...       ...  ...       ...   ...       ...       ...
1179 -0.416323       NaN  0.791886  ...  0.021263   NaN  0.831891       NaN
1180 -0.414054       NaN  0.792084  ...  0.021644   NaN  0.833485       NaN
1181 -0.412576       NaN  0.792279  ...  0.021718   NaN  0.833692       NaN
1182 -0.411834       NaN  0.792443  ...  0.021915   NaN  0.835099       NaN
1183 -0.399693       NaN  0.792986  ...  0.022514   NaN  0.835448       NaN

          z500  v500      x501      y501      z501  v501
0    -0.055220   0.0  0.353349  0.258055 -0.058381   0.0
1    -0.054751   NaN  0.353715  0.258522 -0.057909   NaN
2    -0.054645   NaN  0.358109  0.258968 -0.057813   NaN
3    -0.054216   NaN  0.358812  0.259488 -0.057368   NaN
4    -0.053908   NaN  0.362197  0.259699 -0.057052   NaN
...        ...   ...       ...       ...       ...   ...
1179  0.078069   NaN  0.839343  0.554056  0.082969   NaN
1180  0.079125   NaN  0.840521  0.557537  0.083980   NaN
1181  0.079209   NaN  0.841953  0.563190  0.084072   NaN
1182  0.079991   NaN  0.842236  0.565619  0.084941   NaN
1183  0.080643   NaN  0.842324  0.570600  0.085585   NaN

[1184 rows x 2005 columns]

In [39]:
x = df["v500"].mode()[0]

df["v500"].fillna(x, inplace = True)
print(df['v500'])

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
1179    0.0
1180    0.0
1181    0.0
1182    0.0
1183    0.0
Name: v500, Length: 1184, dtype: float64

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])# only dataes

In [ ]:
#Remove rows with a NULL value in the "Date" column:
df.dropna(subset=['Date'], inplace = True)

In [42]:
for i in df.index:
    df.loc[i,'x1'] = 500
print(df['x1'])

0       500.0
1       500.0
2       500.0
3       500.0
4       500.0
        ...
1179    500.0
1180    500.0
1181    500.0
1182    500.0
1183    500.0
Name: x1, Length: 1184, dtype: float64

In [46]:
print(df.head())

   class     x1        y1        z1        v1        x2        y2        z2  \
0  happy  500.0  0.417898 -0.875286  0.999865  0.545040  0.356381 -0.811630
1  happy  500.0  0.417111 -0.855975  0.999854  0.552653  0.355820 -0.790669
2  happy  500.0  0.413599 -0.849369  0.999850  0.555097  0.354526 -0.787190
3  happy  500.0  0.410985 -0.830234  0.999843  0.563534  0.352845 -0.765729
4  happy  500.0  0.408928 -0.817909  0.999844  0.572295  0.350749 -0.749590

         v2        x3  ...      z499  v499      x500      y500      z500  \
0  0.999696  0.562587  ... -0.010553   0.0  0.585588  0.354311  0.007193
1  0.999675  0.570437  ... -0.009237   0.0  0.597685  0.355239  0.009936
2  0.999674  0.573078  ... -0.007473   0.0  0.604610  0.354066  0.010993
3  0.999663  0.580298  ... -0.005059   0.0  0.608283  0.348671  0.014238
4  0.999666  0.586789  ... -0.004345   0.0  0.607738  0.348265  0.015344

   v500      x501      y501      z501  v501
0   0.0  0.589863  0.349090  0.007723   0.0
1   0.0  0.601752  0.350972  0.010605   0.0
2   0.0  0.609025  0.349543  0.011696   0.0
3   0.0  0.612891  0.343727  0.015099   0.0
4   0.0  0.612512  0.343107  0.016297   0.0

[5 rows x 2005 columns]

In [47]:
#Returns True for every row that is a duplicate, othwerwise False:
print(df.duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
1179    False
1180    False
1181    False
1182    False
1183    False
Length: 1184, dtype: bool

In [48]:
#Remove all duplicates:
df.drop_duplicates(inplace = True)
print(df)

         class     x1        y1        z1        v1        x2        y2  \
0        happy  500.0  0.417898 -0.875286  0.999865  0.545040  0.356381
1        happy  500.0  0.417111 -0.855975  0.999854  0.552653  0.355820
2        happy  500.0  0.413599 -0.849369  0.999850  0.555097  0.354526
3        happy  500.0  0.410985 -0.830234  0.999843  0.563534  0.352845
4        happy  500.0  0.408928 -0.817909  0.999844  0.572295  0.350749
...        ...    ...       ...       ...       ...       ...       ...
1179  surprise  500.0  0.347850 -0.955788  0.999929  0.532151  0.283154
1180  surprise  500.0  0.347924 -0.948508  0.999930  0.532088  0.283126
1181  surprise  500.0  0.347561 -1.019906  0.999932  0.529935  0.282661
1182  surprise  500.0  0.348011 -1.053611  0.999935  0.529491  0.282664
1183  surprise  500.0  0.348021 -1.059250  0.999938  0.526961  0.282389

            z2        v2        x3  ...      z499  v499      x500      y500  \
0    -0.811630  0.999696  0.562587  ... -0.010553   0.0  0.585588  0.354311
1    -0.790669  0.999675  0.570437  ... -0.009237   0.0  0.597685  0.355239
2    -0.787190  0.999674  0.573078  ... -0.007473   0.0  0.604610  0.354066
3    -0.765729  0.999663  0.580298  ... -0.005059   0.0  0.608283  0.348671
4    -0.749590  0.999666  0.586789  ... -0.004345   0.0  0.607738  0.348265
...        ...       ...       ...  ...       ...   ...       ...       ...
1179 -0.852557  0.999891  0.550462  ...  0.001606   0.0  0.563757  0.285003
1180 -0.851067  0.999884  0.549996  ...  0.000628   0.0  0.561587  0.284959
1181 -0.946984  0.999881  0.547213  ...  0.000208   0.0  0.561507  0.283652
1182 -0.987411  0.999880  0.546569  ...  0.000266   0.0  0.560907  0.281841
1183 -0.991567  0.999878  0.544166  ... -0.000554   0.0  0.559436  0.281513

          z500  v500      x501      y501      z501  v501
0     0.007193   0.0  0.589863  0.349090  0.007723   0.0
1     0.009936   0.0  0.601752  0.350972  0.010605   0.0
2     0.010993   0.0  0.609025  0.349543  0.011696   0.0
3     0.014238   0.0  0.612891  0.343727  0.015099   0.0
4     0.015344   0.0  0.612512  0.343107  0.016297   0.0
...        ...   ...       ...       ...       ...   ...
1179  0.024572   0.0  0.570087  0.275306  0.026065   0.0
1180  0.023348   0.0  0.567767  0.275418  0.024800   0.0
1181  0.022198   0.0  0.567945  0.273384  0.023616   0.0
1182  0.021707   0.0  0.567150  0.271990  0.023024   0.0
1183  0.020201   0.0  0.565789  0.270760  0.021515   0.0

[1184 rows x 2005 columns]

In [49]:
#correlation among the columns The corr() method ignores "not numeric" columns.
print(df.corr())

      x1        y1        z1        v1        x2        y2        z2  \
x1   NaN       NaN       NaN       NaN       NaN       NaN       NaN
y1   NaN  1.000000 -0.773336 -0.503073 -0.084191  0.994765 -0.790910
z1   NaN -0.773336  1.000000  0.456894  0.113102 -0.728106  0.998455
v1   NaN -0.503073  0.456894  1.000000  0.166293 -0.492572  0.471670
x2   NaN -0.084191  0.113102  0.166293  1.000000 -0.053141  0.143247
...   ..       ...       ...       ...       ...       ...       ...
v500 NaN       NaN       NaN       NaN       NaN       NaN       NaN
x501 NaN -0.077962  0.065519  0.195128  0.984793 -0.055458  0.098481
y501 NaN  0.976817 -0.728162 -0.489677 -0.011778  0.984307 -0.746790
z501 NaN -0.700797  0.591052  0.506038  0.518734 -0.687712  0.627852
v501 NaN       NaN       NaN       NaN       NaN       NaN       NaN

            v2        x3        y3  ...      z499  v499      x500      y500  \
x1         NaN       NaN       NaN  ...       NaN   NaN       NaN       NaN
y1   -0.550191 -0.077473  0.992580  ... -0.890530   NaN -0.072513  0.978941
z1    0.508395  0.090477 -0.724989  ...  0.747515   NaN  0.067577 -0.735911
v1    0.986076  0.163044 -0.479337  ...  0.506706   NaN  0.191099 -0.494809
x2    0.171326  0.998987 -0.026866  ...  0.290748   NaN  0.986665 -0.016503
...        ...       ...       ...  ...       ...   ...       ...       ...
v500       NaN       NaN       NaN  ...       NaN   NaN       NaN       NaN
x501  0.200778  0.988554 -0.028365  ...  0.282180   NaN  0.999816 -0.012490
y501 -0.537273 -0.005766  0.985489  ... -0.848997   NaN -0.003308  0.999740
z501  0.547485  0.508474 -0.672190  ...  0.904172   NaN  0.523147 -0.672236
v501       NaN       NaN       NaN  ...       NaN   NaN       NaN       NaN

          z500  v500      x501      y501      z501  v501
x1         NaN   NaN       NaN       NaN       NaN   NaN
y1   -0.707650   NaN -0.077962  0.976817 -0.700797   NaN
z1    0.596144   NaN  0.065519 -0.728162  0.591052   NaN
v1    0.507909   NaN  0.195128 -0.489677  0.506038   NaN
x2    0.513779   NaN  0.984793 -0.011778  0.518734   NaN
...        ...   ...       ...       ...       ...   ...
v500       NaN   NaN       NaN       NaN       NaN   NaN
x501  0.519650   NaN  1.000000 -0.008799  0.524781   NaN
y501 -0.676436   NaN -0.008799  1.000000 -0.670030   NaN
z501  0.999922   NaN  0.524781 -0.670030  1.000000   NaN
v501       NaN   NaN       NaN       NaN       NaN   NaN

[2004 rows x 2004 columns]

In [ ]:
#corr 1 means perfect correclation
#corr 0.9 good
#less than 0.5 bad